[mysqld]
# Binlog configuration
server-id = 1
log-bin = mysql-bin
binlog-format = row
binlog-row-image = full
expire-logs-days = 10
binlog-do-db = sampledb

# GTID configuration (MySQL 5.6+)
gtid-mode = on
enforce-gtid-consistency = on

# Other configurations
skip-name-resolve
default-authentication-plugin = mysql_native_password

# Character set configuration
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Connection configuration
max_connections = 200
max_connect_errors = 1000

# InnoDB configuration
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
