#
# values-sasl-ssl.yaml
# This file is for deploying AutoMQ with SASL_SSL authentication.
# Controller/InterBroker/Clients will authenticate using username/password over a TLS-encrypted channel.
#
global:
  automqInstanceId: "<your-unique-instance-id>"
  cloudProvider:
    name: noop
    credentials: static://?accessKey=<your-access-key>&secretKey=<your-secret-key>
  config: |
    s3.ops.buckets=1@s3://<your-ops-bucket>?region=<your-bucket-region>&endpoint=<your-bucket-endpoint>&pathStyle=true
    s3.data.buckets=0@s3://<your-data-bucket>?region=<your-bucket-region>&endpoint=<your-bucket-endpoint>&pathStyle=true
    s3.wal.path=0@s3://<your-data-bucket>?region=<your-bucket-region>&endpoint=<your-bucket-endpoint>&pathStyle=true
  livenessProbe:
    probePort: 9112
  readinessProbe:
    probePort: 9112


# Define a listener for SASL_SSL.
listeners:
  controller:
    - containerPort: 9103
      name: CONTROLLER_SASL_SSL
      protocol: SSL
  interbroker:
    - containerPort: 9102
      name: BROKER_SASL_SSL
      protocol: SSL
  client:
    - containerPort: 9112
      protocol: SASL_SSL
      name: CLIENT_SASL_SSL

# Configure server-side TLS by referencing the Kubernetes secret containing the server certificate.
tls:
  type: PEM
  existingSecret: automq-server-tls

# Expose the SASL_SSL port (9112) via a Network Load Balancer.
externalAccess:
  controller:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerAnnotations:
        oci.oraclecloud.com/load-balancer-type: "nlb"
        oci-network-load-balancer.oraclecloud.com/internal: "true"
        oci-network-load-balancer.oraclecloud.com/subnet: "<your_private_subnet_ocid>"
      extraPorts:
        - name: "tcp-9112"
          port: 9112
          protocol: "TCP"
          targetPort: 9112

acl:
  enabled: true
  # ---- superuser definitions ----
  # 1. intra cluster communication client with server cert CN=automq-server
  # 2. _automq SASL user for inter-broker and controller communication
  # 3. admin SASL user for admin client
  superUsers:
    - "CN=automq-server"
    - "_automq"
    - "admin"

# Define credentials for the superuser '_automq' and a regular user 'my-user'.
sasl:
  controller:
    password: "<your-sasl-password>"
    user: _automq
  interbroker:
    password: "<your-sasl-password>"
    user: _automq
  client:
    users:
      - "admin"
    passwords:
      - "<your-sasl-password>"

# --- Resource and Persistence Settings ---
controller:
  replicas: 3
  resources:
    requests:
      cpu: "3000m"
      memory: "12Gi"
    limits:
      cpu: "4000m"
      memory: "16Gi"
  persistence:
    metadata:
      storageClass: "<your-storage-class>"
      size: "20Gi"
    wal:
      enabled: false
  env:
    - name: "KAFKA_HEAP_OPTS"
      value: "-Xmx6g -Xms6g -XX:MaxDirectMemorySize=6g"

broker:
  replicas: 0
  resources:
    requests:
      cpu: "3000m"
      memory: "12Gi"
    limits:
      cpu: "4000m"
      memory: "16Gi"
  persistence:
    wal:
      enabled: false
  env:
    - name: "KAFKA_JVM_PERFORMANCE_OPTS"
      value: "-server -XX:+UseZGC -XX:ZCollectionInterval=5"
    - name: "KAFKA_OPTS"
      value: "-XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError"
    - name: "KAFKA_HEAP_OPTS"
      value: "-Xmx6g -Xms6g -XX:MaxDirectMemorySize=6g"
