# AWS SDK-compatible credentials used by Aliyun OSS Tables APIs.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=cn-hangzhou
AWS_DEFAULT_REGION=cn-hangzhou

# Aliyun OSS Tables / TableBucket resources.
OSS_TABLE_BUCKET_ARN=acs:osstables:cn-hangzhou:<account-id>:bucket/<table-bucket>
OSS_TABLES_ENDPOINT=https://cn-hangzhou.oss-tables.aliyuncs.com
OSS_ICEBERG_REST_URI=https://cn-hangzhou.oss-tables.aliyuncs.com/iceberg
OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
TABLE_TOPIC_NAMESPACE=automq_it
