global:
  cloudProvider:
    name: noop
    credentials: static://?accessKey=${accessKey}&secretKey=${secretKey}
  config: |
    s3.ops.buckets=1@s3://${ops-bucket}?region=${region}&endpoint=${endpoint}
    s3.data.buckets=0@s3://${data-bucket}?region=${region}&endpoint=${endpoint}
    # EBS WAL
    s3.wal.path=0@block:///dev/wal?iodepth=8&iops=3000&capacity=2147483648
    # if you choose S3 WAL, replace the following with your bucket config.
    # s3.wal.path=0@s3://${data-bucket}?region=${region}&endpoint=${endpoint}

#  ----- node affinities -----
#  nodeAffinities:
#    - key: "node.kubernetes.io/instance-type"
#      values:
#        - "VM.Standard.E5.Flex"

controller:
  create: true
  replicas: 3
  resources:
    requests:
      cpu: "3000m"
      memory: "12Gi"
    limits:
      cpu: "4000m"
      memory: "16Gi"
  persistence:
    metadata:
      enabled: true
      storageClass: "<your-storage-class>"
      size: "20Gi"
    wal:
      enabled: true
      storageClass: "<your-storage-class>"
      size: "20Gi"
  env:
    - name: "KAFKA_JVM_PERFORMANCE_OPTS"
      value: "-server -XX:+UseZGC -XX:ZCollectionInterval=5"
    - name: "KAFKA_OPTS"
      value: "-XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError"
    - name: "KAFKA_HEAP_OPTS"
      value: "-Xmx6g -Xms6g -XX:MaxDirectMemorySize=6g -XX:MetaspaceSize=96m"
      # replace the following with your bucket config.
    - name: "KAFKA_S3_ACCESS_KEY"
      value: "${accessKey}"
    - name: "KAFKA_S3_SECRET_KEY"
      value: "${secretKey}"
broker:
  create: true
  replicas: 1
  resources:
    requests:
      cpu: "1000m"
      memory: "12Gi"
    limits:
      cpu: "2000m"
      memory: "16Gi"
  persistence:
    wal:
      enabled: true
      storageClass: "<your-storage-class>"
      size: "20Gi"
  env:
    - name: "KAFKA_JVM_PERFORMANCE_OPTS"
      value: "-server -XX:+UseZGC -XX:ZCollectionInterval=5"
    - name: "KAFKA_OPTS"
      value: "-XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError"
    - name: "KAFKA_HEAP_OPTS"
      value: "-Xmx6g -Xms6g -XX:MaxDirectMemorySize=6g -XX:MetaspaceSize=96m"
      # replace the following with your bucket config.
    - name: "KAFKA_S3_ACCESS_KEY"
      value: "${accessKey}"
    - name: "KAFKA_S3_SECRET_KEY"
      value: "${secretKey}"

# ---- LoadBalancer ------
externalAccess:
  controller:
    enabled: true
    service:
      type: LoadBalancer
      loadBalancerAnnotations:
        oci-network-load-balancer.oraclecloud.com/security-list-management-mode: "All"
        oci-network-load-balancer.oraclecloud.com/subnet: "<your_oci_subnet_ocid>"
        oci-network-load-balancer.oraclecloud.com/is-private: "true"
      extraPorts:
        - name: "tcp-9092"
          port: 9092
          protocol: "TCP"
          targetPort: 9092
